################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PetStoreApp/PetStoreApp/appsettings.json
/PetStoreApp/PetStoreApp/appsettings.Development.json
